

header{
    width: 100%;
    height: 50px;
}
.logo img{
    width: 400px;
}
header ul{
    float: left;
    width: 100%;
    padding-left: 60px;
    padding-top: 10px;
    list-style: none;
    background-color: black;
    color: white;
}
header li{
    float: left;
    margin: 10px 25px;
}

main{
    float: clear left;
}
.left{
    float: left;
    width: 70%;
    margin-left: 10px;
}
.left p, .picture{
    font-weight: 550;
}
.left img{
    width: 100%;
}
.right{
    float: left;
    width: 25%;
    margin-left: 3%;
    margin-right: 1%;
    font-size:x-large;
}
.right p{
    font-size:xx-large;
    font-weight: bold;
    border-bottom: 2px dashed black;
}
.right li{
    list-style: none;
}
main h1{
    font-size: 35px;
    border-bottom: 3px solid black;
    border-left: 5px solid black;
}
.picture{
    width: 100%;
    background-color: lightgray;
    margin-bottom: 50px;
    text-align: center;
}
.picture img{
    width: 100%;
    margin: 20px 0px 10px 0px;
}
.row1, .row2{
    display: inline-block;
    width: 23%;
}

footer{
    clear: left;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 60px;
}

main{font-family: "Hiragino Kaku Gothic ProN","メイリオ",sans-serif;
}

h2{margin: 0 auto;
margin-top: 30px;
margin-bottom: 20px;
border-left: 4px red solid;
background-color: #fbfbfb;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 15px;
width:  auto;
font-size: 20px;
}

form{
    margin: 0 auto;
    background-color: #fbfbfb;
    border: 3px #ebebeb solid;
    width: 100%;
}

form div{
    padding: 15px;
}

.text, textarea,.dropdown{
    border: 1px solid #dfdfdf;
    padding: 5px;
    color: #999;
    background-color: #fff;
}

textarea{
    width: 500px;
    height: 120px;
}

.submit{
    border: 1px solid lightgray;
    padding: 4px 10px;
    color: white;
    background-color: #bfbfbf;
    border-bottom: solid 2px gray;
}

.article1, .article2{
    margin: 30px auto;
    background-color: #fbfbfb;
    border: 3px #ebebeb solid;
    width: 100%;
}

div h3{
    border-bottom: dashed 2px #bfbfbf;
}

.from{
    font-weight: lighter;
}